body {
  font-family: "Roboto", sans-serif;
  background-color: #e0d8f7;
}

.app {
  padding: 40px;
  background-color: #fafafa;
  border-radius: 8px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}

form {
  padding-bottom: 20px;
}

.search-input {
  background-color: #e0d8f7;
  border-radius: 4px;
  padding: 20px;
  width: 480px;
  font-size: large;
  border: 0;
}

.search-button {
  background-color: rgba(90, 85, 109, 0.4);
  border-radius: 4px;
  color: #fafafa;
  background-color: #885df1;
  padding: 20px;
  font-size: large;
  border: 0;
}

h1 {
  font-weight: 900;
}

p {
  color: rgba(39, 33, 66, 0.4);
}

p strong {
  color: rgb(243, 58, 89);
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-temperature-value {
  font-weight: 700;
  font-size: 80px;
}

.temp {
  display: flex;
  justify-content: right;
  padding: 20px 0;
}

.emoji {
  font-size: xx-large;
  display: flex;
  position: relative;
  bottom: -30px;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}
a {
  color: #885df1;
}

footer p {
  text-align: center;
}
